main {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  align-content: center;
  background: linear-gradient(180deg, #191a24 17%, #1e1f29 51%, #2b212d 83%);
  position: relative;

  .particle-canvas {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .mountain-hills {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 1s ease-in;
    transform: translateY(100%);
    z-index: 1;

    &.animate {
      transform: translateY(0);
    }
  }
}

.countdown-wrapper {
  width: clamp(21rem, 90svw, 61rem);
  margin-inline: auto;

  > :first-child {
    text-align: center;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 1.5rem;
  }

  .timer-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
}

.time-unit {
  display: flex;
  flex-direction: column;
  align-items: center;

  > :first-child {
    text-shadow: 0 0 9px rgb(214, 23, 6);
    color: rgba(220, 20, 60, 0.703);
    font-size: 2.5rem;
    padding-inline: 0.5rem;
    background-color: rgba(0 0 0 / 0.2);
    backdrop-filter: blur(7px);
    box-shadow: 0 7px 4px rgb(0 0 0 / 0.4);
  }

  > :last-child {
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: #8a8a9b;
    margin-top: 0.7rem;
  }
}
